{% extends "base.html" %} {% block container %}

<a href="https://github.com/plivo/voicechat">
    <img style="position: absolute; top: 0; left: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_left_green_007200.png" alt="Fork me on GitHub">
</a>

<div class="jumbotron">
    <div class="container" style="padding: 0 15px;">
        <div class="row" id="sec-0">
            <div class="col-md-9 col-md-offset-1">
                <h1>Instant Voice Chat<br>
                    Anywhere. On the Fly.</h1>
                <div class="col-md-10" style="padding-left:0px;">
                    <p class="bt-space">
                        <i><b>Voice Chat API</b></i>&nbsp;&nbsp;is a free, open-source, out-of-the-box audio conferencing app exposed via an API. Talk with your teammates, friends, and others at the push of a button.
                    </p>
                    <p>
                        <button class="btn btn-hg btn-embossed btn-info bt-space" onclick="createConference()">Click to create your private conference room now</button>
                    </p>
                    <p>
                        <a href="/#nav">
                            <button class="btn btn-lg btn-embossed btn-warning">Learn more</button>
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row" id="nav">
    <div class="col-md-10 col-md-offset-1">
        <nav class="navbar navbar-default" role="navigation">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-01">
                    <span class="sr-only">Toggle navigation</span>
                </button>
                <a href="/">
                    <img src="../static/img/voicechatapi_logo.png" alt="voice chat api logo" style="min-width: 100px;
padding: 10px;max-width: 150px;margin-right: 100px;" />
                </a>
            </div>
            <div class="collapse navbar-collapse" id="navbar-collapse-01">
                <ul class="nav navbar-nav navbar-left">
                    <li><a href="#sec-1">How to use</a>
                    </li>
                    <li><a href="#sec-2">Integrations</a>
                    </li>
                    <li><a href="#sec-3">API</a>
                    </li>
                    <li><a href="#sec-4">Source Code</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</div>
<div class="row" id="sec-1">
    <div class="col-md-10 col-md-offset-1 ">
        <h3 class="center bottom-spacing">Simple Three Steps.</h3>
        <div class="progress center">
            <h6 class="steps" href="#" style="left: 25%;">Create</h6>
            <h6 class="steps" href="#" style="left: 50%;">Share</h6>
            <h6 class="steps" href="#" style="left: 75%;">Join</h6>
            <p class="slider" href="#" style="left: 25%;">1</p>
            <p class="slider" href="#" style="left: 50%;">2</p>
            <p class="slider" href="#" style="left: 75%;">3</p>
        </div>
    </div>
    <div class="col-md-10 col-md-offset-1 jumbotron-p">
        <p>1. <b>Create</b> a conference room via the button below, through one of our <a href="http://voicechatapi.com/#sec-2">integrations</a> or build your own integration via <a href="http://voicechatapi.com/#sec-3">our API</a>.</p>
        <p class="bt-space">
            <button class="btn btn-hg btn-embossed btn-info" onclick="createConference()">Create your voice chat room now</button>
        </p>
        <p>2. <b>Share</b> the URL of the room with anyone you'd like to chat with.</p>
        <div class="form-group has-success bt-space">
            <p style="display:inline-block">For example:</p>
            <input type="text" value="http://voicechatapi.com/p1k2691b1/?share" class="form-control" onclick="this.select()" style="display:inline-block;width:50%;">
        </div>
        <p>3. <b>Join</b> your conference room and start talking.</p>
        <p>Note: your private conference room can be accessed by anyone with the URL. All rooms will be automatically disposed of after 24 hours from the time of creation. To create another room, simply repeat step one.</p>
    </div>
</div>
<hr>
<div class="row center" id="sec-2">
    <div class="col-md-10 col-md-offset-1">
        <h3>Connect via our integrations.
            <br>No username. No login. Always Open-source.</h3>
    </div>
    <div class="col-md-3 col-md-offset-1 tile">
        <img class="icon-image" src="../static/img/chat.png" alt="do voice chat on your chat app">
        <h6>Hubot Plugin</h6>
        <p>Be it Campfire or Hipchat. Use our Hubot plugin to do audio conference on any chat apps. No native audio conferencing support needed.
        </p>
        <a href="https://github.com/dhfromkorea/hubot-scripts/blob/master/src/scripts/voicechat.coffee/">
            <button class="btn btn-hg btn-embossed btn-info">Integrate it</button>
        </a>
    </div>
    <div class="col-md-3 left-space tile">
        <img class="icon-image" src="../static/img/chrome.png" alt="do voice chat on your browser">
        <h6>Chrome Extension</h6>
        <p>Get a URL of your audio conference room with a single click in your browser toolbar. Currently only available on Chrome.
        </p>
        <a href="https://chrome.google.com/webstore/detail/voice-chat/mmamadaodppejbaffaagddokjjekifoe">
            <button class="btn btn-hg btn-embossed btn-warning">Install it</button>
        </a>
    </div>
    <div class="col-md-3 left-space tile">
        <img class="icon-image" src="../static/img/bookmark.png" alt="do voice chat with a bookmark">
        <h6>Bookmarklet</h6>
        <p>Create an audio conference room with a single click in your favorite browser. <i><b>Drag this button</b></i> to your Bookmarks Bar for easy access.
        </p>
        <a href="http://voicechatapi.com/create" name="VoiceChatAPI">
            <button class="btn btn-hg btn-embossed btn-success">Bookmark it</button>
        </a>
    </div>
</div>
<hr>
<div class="row language-markup" id="sec-3">
    <div class="col-md-10 col-md-offset-1">
        <h3 class="center">Build your own integration with the API.</h3>
    </div>
    <div class="col-md-10 col-md-offset-1">
        <div class="col-md-5">
            <h6>Create a conference room</h6>
            <p>Make a POST request and the app will create your conference room and return the URL of it.</p>
            <p><a href="http://plivo.github.io/voicechat/" class="btn btn-info btn-embossed btn-lg btn-block">Check out the documentation</a>
            </p>
        </div>
        <div class="col-md-6 col-md-offset-1">
            <pre><code>$ curl -XPOST http://voicechatapi.com/api/v1/conference/
{
    "conference_name": "p12ygdwt1", 
    "conference_url": "http://voicechatapi.com/p12ygdwt1/"
}</code></pre>
        </div>
    </div>

</div>
<hr>
<div class="row" id="sec-4">
    <div class="col-md-6 col-md-offset-1">
        <h3>Make this app more powerful.</h3>
        <p>Fork it, improve it, and delight people even more. Host this app on your own server and to unlock additional Plivo-powered features including:</p>
        <p>1. Make outgoing phone calls to invite people to join your audio conference from their mobile phones.</p>
        <p>2. Assign a regular phone number to your audio conference room through which people can join your room.</p>
        <p>3. Disable automatic conference room disposal 24-hours upon room creation.</p>
        <p><a href="https://github.com/plivo/voicechat/" style="width:60%;" class="btn btn-success btn-embossed btn-lg btn-block">Take me to the source code</a>
        </p>
    </div>
    <div class="col-md-3 col-md-offset-1">
        <p class="icon-github"></p>
    </div>
</div>
{% endblock %} {% block js %}
<script type="text/javascript">
function createConference() {
    $.ajax({
        'url': '/api/v1/conference/',
        'type': 'POST',
        'success': function(data) {
            window.location.href = "/" + data['conference_name'] + "/";
        }
    });
}
</script>
<script src="/static/js/prism.js"></script>
{% endblock %}
